<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="style.css">
  <title>Ak-Coin</title>
</head>
<body>

  <header>
    
     <h2 ><a href="/">Ak-coin</a></h2>
     <ul>
        <li class="item active"><a href="/">Home</a></li>
        <li class="item"><a href="#">About</a></li>
        <li class="item"><a href="#">Services</a></li>
      </ul>
      <div>
     <button class="btn">Log-In</button>
     <button class="btn">Signup</button>
   </div>

   
  </header>





</body>
</html>
