<script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
<div id="difficulty">
</div>
<script>
$.getJSON( "https://api.coindesk.com/v1/bpi/currentprice.json", function( json ) {
  console.log( "JSON Data: " + json.bpi.USD.rate );
 })
</script>
