<% include ./partials/header%>

<main>
   <article>
     <h2>Latest Blocks</h2>
      <div class="block-desk">
      <div class="title">
        <li class ="index" >Index</li>
        <li class="hash">Hash</li>
        <li class="nonce">Nonce</li>
        <li class="time">Mined</li>

      </div>
      <hr>
      <% blocks.forEach(function(block){ %>
            
            <% var date = new Date(block.timestamp) %>
            <%function timeSince(timeStamp) {
                var now = new Date(),
                  secondsPast = (now.getTime() - timeStamp.getTime()) / 1000;
                if(secondsPast < 60){
                  return parseInt(secondsPast) +" "+ 'seconds ago';
                }
                if(secondsPast < 3600){
                  return parseInt(secondsPast/60) +" "+ 'minutes ago';
                }
                if(secondsPast <= 86400){
                  return parseInt(secondsPast/3600) + " "+'hour ago';
                }
                if(secondsPast > 86400){
                    day = timeStamp.getDate();
                    month = timeStamp.toDateString().match(/ [a-zA-Z]*/)[0].replace(" ","");
                    year = timeStamp.getFullYear() == now.getFullYear() ? "" :  " "+timeStamp.getFullYear();
                    return day + " " + month +" "+ year ;
                }
              }%>
            <div>
                <li class="index"><%=block.index %></li>
                <li class="hash"><%=block.hash%></li>
                <li class="nonce"><%=block.nonce %></li>
                <li class="time"><%=timeSince(date)%></li>
            </div>
            <hr>
        <% } );%>    
          </div>

   </article>
   
   <aside>
     <h1><b>Explorer</b></h1><br>
    <a class="active-block" href="/">Blocks</a>
    <a href="/new-transact">NewTransaction</a>
  <a href="/mine-transaction">Mine Block</a>

  <a href="/balance">Wallet</a>
  <a href="/difficulty">Difficulty/Hash-Rate</a>
  
  <a href="/price">Price</a>
   </aside>
 </main>

 
<a class="btn-primary" href="/new-transact" >New</button>
 <% include ./partials/footer%>
