<% include ./partials/header%>
<style>
  body {
    background: #212529;
  }
</style>
<div class="container1">
  <form action="/transact" method="POST" style="padding: 25px 15px;">
    <h1>
      Welcome Back!
    </h1>
    <br />
    <div class="form-group">
      <label for="recipient"><b>Recipient</b></label>
      <input
        type="text"
        class="form-control"
        name="recipient"
        placeholder="Enter recipient address" required
      />
    </div>
    <div class="form-group">
      <label for="amount"><b>Amount</b></label>
      <input
        type="Amount"
        class="form-control"
        name="amount"
        placeholder="Enter the amount" required
      />
    </div>
    <br />
    <input type="submit" class="btn" />
  </form>
</div>
<% include ./partials/footer%>
